policy-options {
    policy-statement bgp-ipclos-in.inet {
        term loopbacks {
            from {
                family inet;
                route-filter {{ networks.loopbacks4 | ipv4 }} orlonger;
            }
            then accept;
        }
        term default-route {
            from {
                family inet;
                route-filter 0.0.0.0/0 exact;
            }   
            then accept;
        }   
{% for host in groups['leaf'] %}
{% if host != inventory_hostname %} {# only adding from other routers #}
{% if hostvars[host].vlans.internal is not none %}
{% for vlan in hostvars[host].vlans.internal %}
        term {{ vlan.description }} {
            from {
                family inet;
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then accept;
        }
{% endfor %}
{% endif %}
{% if hostvars[host].vlans.external is not none %}
{% for vlan in hostvars[host].vlans.external %}
        term {{ vlan.description }} {
            from {
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then accept;
        }
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
    }
}
