policy-options {
    policy-statement bgp-ipclos-out.inet6 {
        term loopback {
            from {
                family inet6;
                protocol direct;
                route-filter {{ loopback_ip6 | ipv6 }} orlonger;
            }
            then {
{% if underlay.community is defined %}
                community add MYCOMMUNITY;
{% endif %}
                next-hop self;
                accept;
            }
        }
{% if vlans.internal is not none %}
{% for vlan in vlans.internal %}
        term {{ vlan.description }} {
            from {
                family inet6;
                route-filter {{ vlan.subnet.gateway6 | ipv6('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
{% if vlans.external is not none %}
{% for vlan in vlans.external %}
        term {{ vlan.description }} {
            from {
                family inet6;
                route-filter {{ vlan.subnet.gateway6 | ipv6('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
    }
}
