policy-options {
    policy-statement bgp-ipclos-out.inet {
        term loopback {
            from {
                family inet;
                protocol direct;
                route-filter {{ loopback_ip4 | ipv4 }} orlonger;
            }
            then {
{% if underlay.community is defined %}
                community add MYCOMMUNITY;
{% endif %}
                next-hop self;
                accept;
            }
        }
        term loopback {
            from {
                family inet;
                route-filter {{ networks.loopbacks4 | ipv4 }} orlonger;
            }
            then {
{% if underlay.community is defined %}
                community add MYCOMMUNITY;
{% endif %}
                next-hop self;
                accept;
            }
        }
{% for host in groups['leaf'] %}
{% if hostvars[host].vlans.internal is not none %}
{% for vlan in hostvars[host].vlans.internal %}
        term {{ vlan.description }} {
            from {
                family inet;
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
{% if hostvars[host].vlans.external is not none %}
{% for vlan in hostvars[host].vlans.external %}
        term {{ vlan.description }} {
            from {
                family inet;
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
{% endfor %}
    }
}
