policy-options {
{% for vrf in overlay.vrf %}
    community {{ vrf.name }} members target:{{ vrf.community_target }};
{% endfor %}
{% for vlan in vxlan %}
    community vni{{ vlan.vlan_id}} members target:{{ overlay.vni_community }}:{{ vlan.vlan_id }};
{% endfor %}
}

