policy-options {
{# 
### PREFIX LISTS
#}
    prefix-list EBGP-NEIGHBORS {
{% for host in groups['leaf'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
        {{ interface.inet | ipv4('address') }}/32;
{% endif %}
{% endfor %}
        {{ hostvars[host].loopback_ip4 | ipv4('address') }}/32;
{% endfor %}
    }
    prefix-list RADIUS-SERVERS {
{% for server in system.radius %}
        {{ server }}/32;
{% endfor %}   
    }
    prefix-list NTP-SERVERS {
        {{ system.ntp.primary }}/32;
        {% for server in system.ntp.secondary %}
        {{ server }}/32;
{% endfor %}
    }  
    prefix-list DNS-SERVERS {
{% for server in system.dns %}
        {{ server }}/32;
{% endfor %}
    }
    prefix-list SNMP-SERVERS {
{% for server in system.snmp.servers %}
        {{ server }}/32;
{% endfor %}
    }
    prefix-list SYSLOG-SERVERS {
{% for server in system.syslog %}
        {{ server }}/32;
{% endfor %}
    }
    prefix-list EBGPv6-NEIGHBORS {
{% if 'leaf' in inventory_hostname %}
{% for host in groups['core'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
        {{ interface.inet6 | ipv6('address') }}/128;
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% if 'core' in inventory_hostname %}
{% for host in groups['leaf'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
        {{ interface.inet6 | ipv6('address') }}/128;
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
    }
{# 
## ECMP
#}
    policy-statement pfe-ecmp {
        then {
            load-balance per-packet;
        }
    }
{# 
### BGP POLICY CONFIGURATION ##
#}
    policy-statement bgp-ipclos-in.inet {
        term loopbacks {
            from {
                family inet;
                route-filter {{ networks.loopbacks4 | ipv4 }} orlonger;
            }
            then accept;
        }
        term default-route {
            from {
                family inet;
                route-filter 0.0.0.0/0 exact;
            }   
            then accept;
        }   
{% for host in groups['leaf'] %}
{% if host != inventory_hostname %} {# only adding from other routers #}
{% if hostvars[host].vlans.internal is not none %}
{% for vlan in hostvars[host].vlans.internal %}
        term {{ vlan.description }} {
            from {
                family inet;
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then accept;
        }
{% endfor %}
{% endif %}
{% if hostvars[host].vlans.external is not none %}
{% for vlan in hostvars[host].vlans.external %}
        term {{ vlan.description }} {
            from {
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then accept;
        }
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
    }
    policy-statement bgp-ipclos-in.inet6 {
        term loopbacks {
            from {
                family inet6;
                route-filter {{ networks.loopbacks6 | ipv6 }} orlonger;
            }
            then accept;
        }
        term default-route {
            from {
                family inet6;
                route-filter ::/0 exact;
            }   
            then accept;
        }  
{% for host in groups['leaf'] %}
{% if host != inventory_hostname %} {# only adding from other routers #}
{% if hostvars[host].vlans.internal is not none %}
{% for vlan in hostvars[host].vlans.internal %}
        term {{ vlan.description }} {
            from {
                family inet6;
                route-filter {{ vlan.subnet.gateway6 | ipv6('subnet') }} orlonger;
            }
            then accept;
        }
{% endfor %}
{% endif %}
{% if hostvars[host].vlans.external is not none %}
{% for vlan in hostvars[host].vlans.external %}
        term {{ vlan.description }} {
            from {
                route-filter {{ vlan.subnet.gateway6 | ipv6('subnet') }} orlonger;
            }
            then accept;
        }
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
    }
    policy-statement bgp-ipclos-out.inet {
        term loopback {
            from {
                family inet;
                protocol direct;
                route-filter {{ loopback_ip4 | ipv4 }} orlonger;
            }
            then {
{% if underlay.community is defined %}
                community add MYCOMMUNITY;
{% endif %}
                next-hop self;
                accept;
            }
        }
        term loopback {
            from {
                family inet;
                route-filter {{ networks.loopbacks4 | ipv4 }} orlonger;
            }
            then {
{% if underlay.community is defined %}
                community add MYCOMMUNITY;
{% endif %}
                next-hop self;
                accept;
            }
        }
{% for host in groups['leaf'] %}
{% if hostvars[host].vlans.internal is not none %}
{% for vlan in hostvars[host].vlans.internal %}
        term {{ vlan.description }} {
            from {
                family inet;
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
{% if hostvars[host].vlans.external is not none %}
{% for vlan in hostvars[host].vlans.external %}
        term {{ vlan.description }} {
            from {
                family inet;
                route-filter {{ vlan.subnet.gateway | ipv4('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
{% endfor %}
{% if vxlan is not none %}
{% for vlan in vxlan %}
        term {{ vlan.description }} {
            from {
                family inet;
                route-filter {{ vlan.gateway | ipv4('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
    }
    policy-statement bgp-ipclos-out.inet6 {
        term loopback {
            from {
                family inet6;
                protocol direct;
                route-filter {{ loopback_ip6 | ipv6 }} orlonger;
            }
            then {
{% if underlay.community is defined %}
                community add MYCOMMUNITY;
{% endif %}
                next-hop self;
                accept;
            }
        }
        term loopback {
            from {
                family inet6;
                route-filter {{ networks.loopbacks6 | ipv6 }} orlonger;
            }
            then {
{% if underlay.community is defined %}
                community add MYCOMMUNITY;
{% endif %}
                next-hop self;
                accept;
            }
        }
{% for host in groups['leaf'] %}
{% if hostvars[host].vlans.internal is not none %}
{% for vlan in hostvars[host].vlans.internal %}
        term {{ vlan.description }} {
            from {
                family inet6;
                route-filter {{ vlan.subnet.gateway6 | ipv6('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
{% if hostvars[host].vlans.external is not none %}
{% for vlan in hostvars[host].vlans.external %}
        term {{ vlan.description }} {
            from {
                family inet6;
                route-filter {{ vlan.subnet.gateway6 | ipv6('subnet') }} orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
{% endfor %}
{% endif %}
{% endfor %}
    }
    policy-statement EVPN_VRF_IMPORT {
        term switch_options_comm {
            from {
                community switch_options_comm;
            }
            then {
                accept;
            }
        }
{% for vrf in overlay.vrf %}
        term {{ vrf.name }} {
            from {
                community {{ vrf.name }};
            }
            then {
                accept;
            }
        }
{% endfor %}
{% for vlan in vxlan %}
        term vni{{ vlan.vlan_id }} {
            from {
                community vni{{ vlan.vlan_id }};
            }
            then {
                accept;
            }
        }
{% endfor %}
    }
{#
{% for outer_vrf in overlay.vrf %}
    policy-statement {{ outer_vrf.name }}_vrf_imp {
        term 1 {
            from {
{% for inner_vrf in overlay.vrf %}
{% if inner_vrf.name != outer_vrf.name %}
                community {{ inner_vrf.name }};
{% endif %}
{% endfor %}
            }
            then {
                accept;
            }
        }
    }
{% endfor %}
#}
{% for vlan in vxlan %}
    community vni{{ vlan.vlan_id }} members target:{{ overlay.vni_community }}:{{ vlan.vlan_id }};
{% endfor %}
{% for vrf in overlay.vrf %}
    community {{ vrf.name }} members target:{{ vrf.community_target }};
{% endfor %}
    community switch_options_comm members target:{{ overlay.asn }}:2;
}
