policy-options {
    policy-statement EVPN_VRF_IMPORT {
{% for vrf in overlay.vrf %}
        term {{ vrf.name }} {
            from {
                community {{ vrf.name }};
            }
            then accept;
          }
{% endfor %}
{% for vlan in vxlan %}
        term vni{{ vlan.vlan_id }} {
            from {
                community vni{{ vlan.vlan_id }};
            }
            then accept;
        }
{% endfor %}
    }
}
