policy-options {
    prefix-list EBGP-NEIGHBORS {
{% for host in groups['leaf'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
        {{ interface.inet | ipv4('address') }}/32;
{% endif %}
{% endfor %}
        {{ hostvars[host].loopback_ip4 | ipv4('address') }}/32;
{% endfor %}
    }
    prefix-list RADIUS-SERVERS {
{% for server in system.radius %}
        {{ server }}/32;
{% endfor %}   
    }
    prefix-list NTP-SERVERS {
        {{ system.ntp.primary }}/32;
        {% for server in system.ntp.secondary %}
        {{ server }}/32;
{% endfor %}
    }  
    prefix-list DNS-SERVERS {
{% for server in system.dns %}
        {{ server }}/32;
{% endfor %}
    }
    prefix-list SNMP-SERVERS {
{% for server in system.snmp.servers %}
        {{ server }}/32;
{% endfor %}
    }
    prefix-list SYSLOG-SERVERS {
{% for server in system.syslog %}
        {{ server }}/32;
{% endfor %}
    }
    prefix-list EBGPv6-NEIGHBORS {
{% if 'leaf' in inventory_hostname %}
{% for host in groups['core'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
        {{ interface.inet6 | ipv6('address') }}/128;
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% if 'core' in inventory_hostname %}
{% for host in groups['leaf'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
        {{ interface.inet6 | ipv6('address') }}/128;
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
    }
}
