routing-options {
    router-id {{ loopback_ip4 | ipv4('address') }};
    autonomous-system {{ underlay.asn }};
    interface-routes {
        rib-group inet import_to_inet;
    }
    rib-groups {
        import_to_inet {
            import-rib [ {% for vrf in overlay.vrf %} {{ vrf.name }}.inet.0{% endfor %} inet.0 ]
        }
{% for vrf in overlay.vrf %}
        {{ vrf.name }}_to_inet {
            import-rib [ inet.0 {{ vrf.name }}.inet.0 ]
        }
{% endfor %}
    }
    forwarding-table {
        export pfe-ecmp;
    }
    nonstop-routing;
}

