{#
!
!   FORWARDING OPTIONS
!
#}
forwarding-options {
{#
!
!   DHCP-RELAY
!
#}
    dhcp-relay {
        group irb {
            relay-option-82 {
                circuit-id;
            }
{% if vlans.internal is not none %}
{% for vlan in vlans.internal %}
            interface irb.{{ vlan.subnet.vlan_id }}; 
{% endfor %}
{% endif %}
{% if vlans.external is not none %}
{% for vlan in vlans.external %}
            interface irb.{{ vlan.subnet.vlan_id }}; 
{% endfor %}
{% endif %}
        }
    }   
}
