firewall {
    family inet {
{#
!
!   INTERNAL VLANS
!
#}
{% if vlans.internal is not none %}
{% for vlan in vlans.internal %}
        filter {{ vlan.description }} {
            term established {
                from {
                    protocol tcp;
                    tcp-established;
                }
                then accept;
            }
            term echo-reply {
                from {
                    protocol icmp;
                    icmp-type 0;
                }
                then accept;
            }
{% for term in filter.inet %}
{% if term.name == vlan.description %}
{% for rule in term.rules %}
            term internal-{{ loop.index }} {
                from {
                    source-address {
                        {{ rule.src  }};
                    }
                    destination-address {
{% if rule.dst is defined %}                        
                        {{ rule.dst }}/32;
{% else %}
                        {{ vlan.subnet.gateway | ipv4('subnet') }};
{% endif %}
                    }
{% if rule.proto == "tcp" %}
                    protocol tcp;
                    destination-port {{ rule.port }};
{% elif rule.proto == "udp" %}
                    protocol udp;
                    destination-port {{ rule.port }};
{% else %}
{% endif %}
                }
{% if rule.action == "allow" %}
                then accept;
{% else %}
                then { 
                    discard;
                    count {{ term.name }};
                }
{% endif %}
            }
{% endfor %}
{% endif %}
{% endfor %}
        }
{% endfor %}
{% endif %}
    }
}
