firewall {
    family inet {
        filter protect-router-control-plane {
            term synflood-protect {
                from {
                    tcp-flags "(syn & !ack) | fin | rst";
                }
                then {
                    policer 500kbps;
                    accept;
                }
            }
            term next-frag {
                from {
                    is-fragment;
                }
                then {
                    count frag-discards;
                    log;
                    discard;
                }
            }
            term icmp {
                from {
                    protocol icmp;
                }
                then {
                    policer 500kbps;
                    accept;
                }
            }
            term ebgp-connect {
                from {
                    source-prefix-list {
                        EBGP-NEIGHBORS;
                    }
                    protocol tcp;
                    destination-port bgp;
                }
                then accept;
            }
            term ebgp-reply {
                from {
                    source-prefix-list {
                        EBGP-NEIGHBORS;
                    }
                    protocol tcp;
                    destination-port bgp;
                }
                then accept;
            }
            term dns {
                from {
                    source-prefix-list {
                        DNS-SERVERS;
                    }
                    protocol udp;
                    destination-port domain;
                }
                then accept;
            }
            term ntp {
                from {
                    source-prefix-list {
                        NTP-SERVERS;
                    }
                    protocol udp;
                    destination-port ntp;
                }
                then accept;
            }
            term ssh-allow {
                from {
                    source-address {
                        {{ networks.admin.user_oslo }};
                        {{ networks.admin.user_bergen }};
                        {{ networks.admin.user_tromso }};
                        {{ networks.admin.vpn }};
                    }
                    protocol tcp;
                    destination-port ssh;
                }
                then accept;
            }
            term netconf-allow {
                from {
                    source-address {
                        {{ networks.admin.user_oslo }};
                        {{ networks.admin.user_bergen }};
                        {{ networks.admin.user_tromso }};
                        {{ networks.admin.vpn }};
                    }
                    protocol tcp;
                    destination-port 830;
                }
                then accept;
            }
            term ssh-deny {
                from {
                    source-address {
                        0.0.0.0/0
                    }
                    protocol tcp;
                    destination-port ssh;
                }
                then {
                    discard;
                    log;
                }
            }
            term snmp {
                from {
                    source-prefix-list {
                        SNMP-SERVERS;
                    }
                    protocol udp;
                    destination-port snmp;
                }
                then accept;
            }
            term radius {
                from {
                    source-prefix-list {
                        RADIUS-SERVERS;
                    }
                    protocol udp;
                    destination-port [ 1812 1813 ];
                }
                then accept;
            }
            term default-term {
                then {
                    count copp-exceptions;
                    log;
                    policer 500kbps;
                    accept;
                }
            }
        }
    }
}

