routing-instances {
{% for vrf in overlay.vrf %}
    {{ vrf.name }} {
        instance-type vrf;
{% for vlan in vxlan %}
{% if vlan.vrf == vrf.name %}
        interface irb.{{ vlan.vlan_id }};
{% endif %}
{% endfor %}
{% for loopback in vrf_loopbacks %}
{% if loopback.name == vrf.name %}
        interface lo0.{{ loopback.id }};
{% endif %}
{% endfor %}
        route-distinguisher {{ loopback_ip4 | ipv4('address') }}:{{ vrf.route_distinguisher }};
        vrf-target target:{{ vrf.community_target }};
        routing-options {
            auto-export;
            interface-routes {
                rib-group inet {{ vrf.name }}_to_inet;
            }
            static {
                route 0.0.0.0/0 next-table inet.0;
            }
        }
    }
{% endfor %}
}
