interfaces {
{% if ports is not none %}
{% for port in ports %}
{% if 'ae' not in port.interface %}
    {{ port.interface }} {
{% if port.enabled == false %}
        disable;
{% endif %}
        description "{{ port.description }}";
{% if port.lag is defined %}
        ether-options {
            802.3ad {{ port.lag }};
        }
    }
{% else %}
{% if port.tagged == True %}
        vlan-tagging;
{% if port.native_vlan is defined %}
{% if vlans.internal is not none %}
{% for vlan in vlans.internal %}
{% if port.native_vlan  == vlan.description %}
        native-vlan-id {{ vlan.subnet.vlan_id }};
{% endif %}
{% endfor %}
{% endif %}
{% if vlans.external is not none %}
{% for vlan in vlans.external %}
{% if port.native_vlan  == vlan.description %}
        native-vlan-id {{ vlan.subnet.vlan_id }};
{% endif %}
{% endfor %}
{% endif %}
{% if vxlan is not none %}
{% for vlan in vxlan %}
{% if port.native_vlan == vlan.description %}
        native-vlan-id {{ vlan.vlan_id }};
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
        mtu {{ mtu.physical }};
        unit 0 {
            family ethernet-switching {
{% if port.tagged == False %}
                interface-mode access;
                vlan {
                    members {{ port.untagged_vlan }};
                }
{#
                filter {
                    input ra-guard;                
                }
#}
{% else %}
                interface-mode trunk;
                vlan {
                    members {{ port.tagged_vlan }};                   
                }
{#
                filter {
                    input ra-guard;                
                }
#}
{% endif %}
            }
        }
    }
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
}
