interfaces {
{% if vxlan %}
    irb {
{% for vlan in vxlan %}
        unit {{ vlan.vlan_id }} {
            family inet {
                mtu 9000;
{% if inventory_hostname == vlan.active_router %}
{% if vlan.type == 'internal' %}
                filter {
                    output {{ vlan.description }}
                }
{% endif %}
                address {{ vlan.gateway | ipv4 }} {
                    virtual-gateway-address {{ vlan.virtual_gateway | ipv4 }};
                }
{% elif inventory_hostname == vlan.passive_router %}
                address {{ vlan.secondary_gateway | ipv4 }} {
                    virtual-gateway-address {{ vlan.virtual_gateway | ipv4 }};
                }
{% endif %}
            }
{# 
            family inet6 {
                mtu 9000;
{% if inventory_hostname == vlan.active_router %}
                address {{ vlan.gateway6 | ipv6 }};
{% elif inventory_hostname == vlan.passive_router %}
                address {{ vlan.secondary_gateway6 | ipv6 }};
{% endif %}
            }
#}
        }
{% endfor %}
    }
{% endif %}
}
