interfaces {
    irb {
        mtu {{ mtu.physical }};
{% if vlans.internal is not none %}
{% for vlan in vlans.internal %}
        unit {{ vlan.subnet.vlan_id }} {
            description {{ vlan.description }}
            family inet {
{% if vlan.subnet.acl_enabled == True %}
{% for term in filter.inet %}
{% if term.name == vlan.description %}
                filter {
                    output {{ term.name }}
                }
{% endif %}
{% endfor %}
{% endif %}
                mtu {{ mtu.logical }};
                address {{ vlan.subnet.gateway | ipv4 }}
            }   
            family inet6 {
{# Commenting out this for now
{% if vlan.subnet.acl_enabled == True %}
{% for term in filter.inet6 %}
{% if term.name == vlan.description %}
                filter {
                    output {{ term.name }}-v6
                }
{% endif %}
{% endfor %}
{% endif %}
#}
                mtu {{ mtu.logical }};
                address {{ vlan.subnet.gateway6 | ipv6 }}
            }   

        }   
{% endfor %}
{% endif %}
{% if vlans.external is not none %}
{% for vlan in vlans.external %}
        unit {{ vlan.subnet.vlan_id }} {
            description {{ vlan.description }}
            family inet {
{% if vlan.subnet.acl_enabled == True %}
{% for term in filter.inet %}
{% if term.name == vlan.description %}
                filter {
                    input {{ term.name }}
                }
{% endif %}
{% endfor %}
{% endif %}
                mtu {{ mtu.logical }};
                address {{ vlan.subnet.gateway | ipv4 }}
            }   
            family inet6 {
{# Commenting out this for now
{% if vlan.subnet.acl_enabled == True %}
{% for term in filter.inet6 %}
{% if term.name == vlan.description %}
                filter {
                    input {{ term.name }}-v6
                }
{% endif %}
{% endfor %}
{% endif %}
#}
                mtu {{ mtu.logical }};
                address {{ vlan.subnet.gateway6 | ipv6 }}
            }   
        }   
{% endfor %}
{% endif %}
    }
}
