interfaces {
{% if ports is not none %}
{% for port in ports %}
{% if 'ae' in port.interface %}
{% set minimum_links = [] %}
{% for nested_port in ports %}
{% if nested_port.lag is defined %}
{% if nested_port.lag == port.interface %}
{% if minimum_links.append(1) %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% if minimum_links %}
    {{ port.interface }} {
{% if port.enabled == false %}
        disable;
{% endif %}
        description "{{ port.description }}";
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
                force-up;
            }
            link-speed 10g;
            minimum-links 1;
        }
{% if port.tagged == True %}
        vlan-tagging;
{% if port.native_vlan is defined %}
{% if vlans.internal is not none %}
{% for vlan in vlans.internal %}
{% if port.native_vlan  == vlan.description %}
        native-vlan-id {{ vlan.subnet.vlan_id }};
{% endif %}
{% endfor %}
{% endif %}
{% if vlans.external is not none %}
{% for vlan in vlans.external %}
{% if port.native_vlan  == vlan.description %}
        native-vlan-id {{ vlan.subnet.vlan_id }};
{% endif %}
{% endfor %}
{% endif %}
{% if vxlan is not none %}
{% for vlan in vxlan %}
{% if port.native_vlan == vlan.description %}
        native-vlan-id {{ vlan.vlan_id }};
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
        mtu {{ mtu.physical }};
        unit 0 {
            family ethernet-switching {
{% if port.tagged == False %}
                interface-mode access;
                vlan {
                    members {{ port.untagged_vlan }};
                }
{#
                filter {
                    input ra-guard;                
                }
#}
{% else %}
                interface-mode trunk;
                vlan {
                    members {{ port.tagged_vlan }};                   
                }
{#
                filter {
                    input ra-guard;                
                }
#}
{% endif %}
            }
        }
    }
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
}
