interfaces {
    lo0 {
        unit 0 {
            family inet {
                filter input protect-router-control-plane;
                address {{ loopback_ip4 | ipv4 }};
            }
            family inet6 {
                filter input protect-router-control-plane-v6;
                address {{ loopback_ip6 | ipv6 }};
            }
            family any {
                filter input protect-router-control-plane-non-ip;
            }
        }
    }
}
