interfaces {
{% for interface in underlay.interfaces %}
    {{ interface.name }} {
        description "facing {{ interface.peer }}"
        mtu {{ mtu.physical }}
        unit 0 {
            family inet {
                mtu {{ mtu.logical }}
                address {{ interface.inet | ipv4 }};
            }
            family inet6 {
                mtu {{ mtu.logical }}
                address {{ interface.inet6 | ipv6 }};
            }
        }
    }
{% endfor %}
}
