switch-options {
    vtep-source-interface lo0.0;
    route-distinguisher {{ loopback_ip4 | ipv4('address') }}:1;
    vrf-import EVPN_VRF_IMPORT;
    vrf-target target:{{ overlay.asn }}:2;
    vrf-target auto;
}
