protocols {
    bgp {
        group underlay-ipfabric.inet6 {
            traceoptions {
                file bgp-log;
                flag open detail;
                flag update detail;
                flag keepalive detail; 
            }
            import bgp-ipclos-in.inet6;
            export  bgp-ipclos-out.inet6;
            type external;
            family inet6 {
                unicast;
            }
            mtu-discovery;
            bfd-liveness-detection {
                minimum-interval {{ bfd.min_interval }};
                multiplier {{ bfd.multiplier }};
                session-mode {{ bfd.mode }};
            }
            multipath multiple-as;
{% for host in groups['core'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
            neighbor {{ interface.inet6 | ipv6('address') }} {
                peer-as {{ hostvars[host].underlay.asn }};
            }
{% endif %}
{% endfor %}
{% endfor %}
{% for host in groups['core'] %}
{% for interface in hostvars[host].underlay.interfaces %}
{% if interface.peer == inventory_hostname %}
            neighbor {{ interface.inet6 | ipv6('address') }} {
                peer-as {{ hostvars[host].underlay.asn }};
            }
{% endif %}
{% endfor %}
{% endfor %}
        }
    }
}
