protocols {
    bgp {
        group overlay-ipfabric.inet {
            traceoptions {
                file overlay-inet-bgp-log;
                flag all detail; 
            }
            type internal;
            local-address {{ loopback_ip4 | ipv4('address') }};
            local-as {{ overlay.asn }};
            family evpn {
                signaling;
            }
            multipath;
{% for host in groups['core'] %}
{% if host != inventory_hostname %}
            neighbor {{ hostvars[host].loopback_ip4 | ipv4('address') }} {
                description {{ host }};
            }
{% endif %}
{% endfor %}
{% for host in groups['leaf'] %}
{% if host != inventory_hostname %}
            neighbor {{ hostvars[host].loopback_ip4 | ipv4('address') }} {
                description {{ host }};
            }
{% endif %}
{% endfor %}
            bfd-liveness-detection {
                minimum-interval {{ bfd.min_interval }};
                multiplier {{ bfd.multiplier }};
                session-mode {{ bfd.mode }};
            }
        }
    }
}
