protocols {
    bgp {
        group overlay-ipfabric.inet6 {
            traceoptions {
                file overlay-inet6-bgp-log;
                flag all detail; 
            }
            type internal;
            local-address {{ loopback_ip6 | ipv6('address') }};
            local-as {{ overlay.asn }};
            family evpn {
                signaling;
            }
            multipath;
{% for host in groups['core'] %}
{% if host != inventory_hostname %}
            neighbor {{ hostvars[host].loopback_ip6 | ipv6('address') }} {
                description {{ host }};
            }
{% endif %}
{% endfor %}
{% for host in groups['leaf'] %}
{% if host != inventory_hostname %}
            neighbor {{ hostvars[host].loopback_ip6 | ipv6('address') }} {
                description {{ host }};
            }
{% endif %}
{% endfor %}
            bfd-liveness-detection {
                minimum-interval {{ bfd.min_interval }};
                multiplier {{ bfd.multiplier }};
                session-mode {{ bfd.mode }};
            }
        }
    }
    evpn {
        encapsulation vxlan;
        extended-vni-list [{% for vlan in vxlan %} {{ vlan.vlan_id }}{% endfor %} ];
        multicast-mode ingress-replication;
        vni-options {
{% for vlan in vxlan %}
            vni {{ vlan.vlan_id }} {
                vrf-target {
                    export target:{{ overlay.vni_community }}:{{ vlan.vlan_id }};
                }
            }
{% endfor %}
        }
    }
}
