protocols {
    evpn {
        encapsulation vxlan;
        extended-vni-list [{% for vlan in vxlan %} {{ vlan.vlan_id }}{% endfor %} ];
        multicast-mode ingress-replication;
        vni-options {
{% for vlan in vxlan %}
            vni {{ vlan.vlan_id }} {
                vrf-target {
                    target:{{ overlay.vni_community }}:{{ vlan.vlan_id }};
                }
            }
{% endfor %}
        }
    }
}
