{# Count how many aggregated interface we have #}
{% set ae_counter = [] %}
{% for port in ports %}
{% if 'ae' in port.interface %}
{% if ae_counter.append(1) %}
{% endif %}
{% endif %}
{% endfor %}
chassis {
    redundancy {
        graceful-switchover;
    }
{% if ae_counter %}
    aggregated-devices {
        ethernet {
            device-count {{ ae_counter | sum }} ;
        }
    }
{% endif %}
    disk-partition /var {
        level high {
            free-space 25 percent;
        }
        level full {
            free-space 10 percent;
        }
    }
}
