vlans {
{% if vlans.internal is not none %}
{% for vlan in vlans.internal %}
    {{ vlan.description }} {
        vlan-id {{ vlan.subnet.vlan_id }}; 
        l3-interface irb.{{ vlan.subnet.vlan_id }}; 
        forwarding-options {
            dhcp-security {
                neighbor-discovery-inspection;
            }   
        }   
    }   
{% endfor %}
{% endif %}
{% if vlans.external is not none %}
{% for vlan in vlans.external %}
    {{ vlan.description }} {
        vlan-id {{ vlan.subnet.vlan_id }}; 
        l3-interface irb.{{ vlan.subnet.vlan_id }}; 
        forwarding-options {
            dhcp-security {
                neighbor-discovery-inspection;
            }   
        }   
    }   
{% endfor %}
{% endif %}
{% if vxlan is not none %}
{% for vlan in vxlan %}
    {{ vlan.description }} {
        vlan-id {{ vlan.vlan_id }};
        vxlan {
            vni {{ vlan.vlan_id }};
            ingress-node-replication;
        }
    }
{% endfor %}
{% endif %}
}

