vlans {
{% for vlan in vxlan %}
    {{ vlan.description }} {
        vlan-id {{ vlan.vlan_id }};
        l3-interface irb.{{ vlan.vlan_id }};
        vxlan {
            vni {{ vlan.vlan_id }};
            ingress-node-replication;
        }
    }
{% endfor %}
}

