snmp {
    v3 {
        usm {
            local-engine {
{% for user in system.snmp.users %}
                user {{ user.name }} {
                    authentication-sha {
                        authentication-key "{{ user.sha_encrypted }}"; ## SECRET-DATA
                    }
                    privacy-aes128 {
                        privacy-key "{{ user.aes_encrypted }}"; ## SECRET-DATA
                    }
                }
{% endfor %}
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name librenms {
                        group ALL-ACCESS;
                    }
                }
            }
            access {
                group ALL-ACCESS {
                    default-context-prefix {
                        security-model usm {
                            security-level privacy {
                                read-view GLOBAL;
                                write-view GLOBAL;
                                notify-view GLOBAL;
                            }
                        }
                    }
                }
            }
        }
    }
    engine-id {
        use-default-ip-address;
    }
    view GLOBAL {
        oid internet include;
    }  
}
